<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white"></nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-2 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="navbar-item" href="{% url 'dashboard:dashboard' %}">Tableau de bord</a></li>
                        <li><a class="navbar-item" href="{% url 'contrat:liste_contrats' %}">Contrats</a></li>
                        <li><a class="navbar-item" href="{% url 'dashboard:dashboard' %}">Profils</a></li>
                    </ul>
                    <p class="menu-label">
                        Recapitulatifs
                    </p>
                    <ul class="menu-list">
                        <li><a>Exemple contrat vierge </a></li>
                        <li><a>Liste des contrats</a></li>
                        <li><a>Liste des enfants</a></li>
                        <li><a>Liste des contacts d'urgence</a></li>
                        <li><a>se connecter</a></li>
                        <li><a>se deconnecter</a></li>
                    </ul>
                    <p class="menu-label">
                        Salaire
                    </p>
                    <ul class="menu-list">
                        <li><a>Fiche de paie</a></li>
                        <li><a>Congé</a></li>
                        <li><a>recap semaine</a></li>
                        <li><a>recap mois</a></li>
                        <li><a>recap année</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Bonjour {{user.username}}
                            </h1>
                            <h2 class="subtitle">
                                Bienvenue sur votre tableau de bord!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">????</p>
                                <p class="subtitle">nombre d'enfants</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">????</p>
                                <p class="subtitle">nombre de contrats</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">????</p>
                                <p class="subtitle">autres truc</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">?????</p>
                                <p class="subtitle">nombre de jours sans enfants morts</p>
                            </article>
                        </div>
                    </div>
                </section>
                <br>
                {% include "contrat/enfant_list.html" %}
                <br>     
                {% include "famille/employeur_list.html" %}    
                
            </div>
        </div>
    </div>    
</body>

</html>