<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super_AssMat</title>
    
</head>
<body>
    <div>
        <header>
            <h2>Site Assmat header</h2>
            <ul>
                <li><a href="">un truc</a></li>
                <li><a href="">un truc</a></li>
                <li><a href="">un truc</a></li>
                <li><a href="">un truc</a></li>
            </ul>
            <div>
                <button type="" class="">Login</button>
                <button type="" class="">Sign-up</button>
                <button type="" class="">Deconnexion</button>
            </div>
        </header>
    </div>
    
    <section class="">
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <h2>Site Assmat header</h2>
    </footer>
</body>
</html>
