
{% extends "dashboard/base_dashboard_02.html" %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">

{% block content %}
<form enctype="multipart/form-data" action="" method="POST" class="box">
    {% csrf_token %}
        <div class="field">
            <label class="label">Nom:</label>
            <div class="control">
                {{form.nom}}
            </div>
            <label class="label">Prénom:</label>
            <div class="control">
                {{form.prenom}}
            </div>
            <label class="label">Photo:</label>
            <div class="control">
                {{form.photo}}
            </div>
            <label class="label">Date d'anniversaire:</label>
            <div class="control">
                {{form.date_anniv}}
            </div>
            <label class="label">Age:</label>
            <div class="control">
                {{form.age}}
            </div>
            <label class="label">Commentaire:</label>
            <div class="control">
                {{form.commentaire}}
            </div>
            <label class="label">Contrat:</label>
            <div class="control">
                {{form.contrat}}
            </div>
            
            
        </div>
    <input class="button is-dark" type="submit" value="Validez votre enfant"> 
    <a class="button is-dark" href="{% url 'dashboard:dashboard' %}">Retour tableau de bord</a>          
</form>
{% endblock %}