{% extends "dashboard/base_dashboard_02.html" %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">

{% block content %}

<form action="" method="POST" class="box">
    {% csrf_token %}
        <div class="field">
            <label class="label">Nom:</label>
            <div class="control">
               <p>Voulez-vous supprimer cet enfant: {{ enfant.nom }} ? </p> 
            </div>
        </div>
    <input class="button is-dark" type="submit" value="Validez votre suppression d'enfant">     
    <a class="button is-dark" href="{% url 'dashboard:dashboard' %}">Retour tableau de bord</a>      
</form>
{% endblock %}