{% load static %}

  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title">
        Récapitulatif informations enfants
      </p>
      <a href="#" class="card-header-icon" aria-label="more options"> </a>
    </header>
    <div class="card-table">
        <div class="content">
              <table class="table is-fullwidth is-striped">
                <tbody>
                  {% for enfant in enfants %}
                  <tr>
                      <td><img src="{{ enfant.photo.url }}" width="40" height="28"></td>
                      <td>{{ enfant.nom }}</td>
                      <td>{{ enfant.prenom }}</td>
                      <td>{{ enfant.date_anniv }}</td>
                      <td>{{ enfant.age }} an(s)</td>
                      <td>{{ enfant.contrat }}</td>
                      <td><a class="button is-small is-primary" href="#">Modifier enfant</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>                            
  </div>

