
{% load static %}


<section class="section is-medium">
  <h1 class="title">Recap famille</h1>
        <h2 class="subtitle">
          recapitule toutes les <strong>familles</strong> dont tu garde les sales gosses.
        </h2>
        <h2> liste famille, utile a voir comment l'utiliser( penser a rapatrier enfant ici une fois crée avec le crontrat)</h2>
        <h2> sera afficher sur le dashboard</h2>
        <a class="button is-dark" href="{% url 'famille:creation_employeur' %}">Creation d'une nouvelle Famille</a>
        
  <table class="table is-bordered">
      
      <thead>
          <tr>
              <th>ID</th>
              <th>Famille</th>
              <th>Tel_fix</th>
              <th>Tel_mobile</th>
              <th>Tel_doc</th>
              <th>Adresse_postale</th>
              <th>Code_postal</th>
              <th>Num_urssaf</th>
              <th>Date_anniv</th>
              <th>Ass_mat</th>
              <th>Liste contacts d'urgence</th>
          </tr>
      </thead>
      <tbody>
        {% for employeur in employeurs %}
        <tr>
          <th>{{ employeur.id }}</th>
          <td><a href="{% url 'famille:details_employeur' pk=employeur.id %}" >{{ employeur.nom }}</a>
          </td>
          <td>{{ employeur.tel_fix }}</td>
          <td>{{ employeur.tel_mob }}</td>
          <td>{{ employeur.tel_doc }}</td>
          <td>{{ employeur.adresse_postale }}</td>
          <td>{{ employeur.code_postal }}</td>
          <td>{{ employeur.num_urssaf}}</td>
          <td>{{ employeur.date_anniv }}</td>
          <td>{{ employeur.ass_mat }}</td>
          <td><a class="button is-dark" href="{% url 'famille:liste_contact_urgence' employeur.id %}" >Liste contacts urgence</a> </td> 
        </tr>
        {% endfor %}
      </tbody>
  </table>
</section>
