{% extends "dashboard/base_dashboard_02.html" %}
{% load static %}



{% block content %}   
{% if employeur.photo %}
    <img src="{{ employeur.photo.url }}">
{% endif %}
    <div class="field has-text-centered">
        <label class="label">Nom:</label>
        <div class="control">
            {{employeur.nom}}
        </div>
        <label class="label">Prénom:</label>
        <div class="control">
            {{employeur.prenom}}
        </div>
        <label class="label">Email:</label>
        <div class="control">
            {{employeur.email}}
        </div>
        <label class="label">Adresse:</label>
        <div class="control">
            {{employeur.adresse_postale}}
        </div>
        <label class="label">Code postal:</label>
        <div class="control">
            {{employeur.code_postal}}
        </div>
        <label class="label">Ville:</label>
        <div class="control">
            {{employeur.ville}}
        </div>
        <label class="label">Télephone fix:</label>
        <div class="control">
            {{employeur.tel_fix}}
        </div>
        <label class="label">Télephone mobile:</label>
        <div class="control">
            {{employeur.tel_mob}}
        </div>
        <label class="label">Télephone docteur:</label>
        <div class="control">
            {{employeur.tel_doc}}
        </div>
        <label class="label">Date d'anniversaire:</label>
        <div class="control">
            {{employeur.date_anniv}}
        </div>
        <label class="label">Numero Urssaf:</label>
        <div class="control">
            {{employeur.num_urssaf}}
        </div>
        <br>
        <div>
            <a class="button is-dark" href="{% url 'famille:effacer_employeur' pk=employeur.id %}" >Effacer employeur</a> 
            <a class="button is-dark" href="{% url 'famille:editter_employeur' pk=employeur.id %}" >Modifier employeur</a> 
            <a class="button is-dark" href="{% url 'dashboard:dashboard' %}">Retour tableau de bord</a>
        </div>
    </div>
    

{% endblock %}