
{% load static %}

             
  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title">
        Récapitulatif informations employeurs
      </p>
      <a href="#" class="card-header-icon" aria-label="more options"></a>
    </header>
    <div class="card-table">
        <div class="content">
              <table class="table is-fullwidth is-striped">
                <tbody>
                  {% for employeur in employeurs %}
                  <tr>
                    <td><a href="{% url 'famille:details_employeur' pk=employeur.id %}" >{{ employeur.nom }}</a>
                    </td>
                    <td>{{ employeur.tel_fix }}</td>
                    <td>{{ employeur.tel_mob }}</td>
                    <td>{{ employeur.tel_doc }}</td>
                    <td>{{ employeur.adresse_postale }}</td>
                    <td>{{ employeur.code_postal }}</td>
                    <td>{{ employeur.num_urssaf}}</td>
                    <td>{{ employeur.date_anniv }}</td>
                    <td>{{employeur.email}}</td>
                    
                    <td><a class="button is-small is-primary" href="{% url 'famille:liste_contact_urgence' employeur.id %}" >Liste contacts urgence</a> </td> 
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>                            
  </div>
