
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <title>Super_AssMat</title>
    
</head>
<form action="" method="POST" class="box">
    {% csrf_token %}
        <div class="field">
            <label class="label">Nom:</label>
            <div class="control">
                {{form.nom}}
            </div>
            <label class="label">Prénom:</label>
            <div class="control">
                {{form.prenom}}
            </div>
            <label class="label">Email:</label>
            <div class="control">
                {{form.email}}
            </div>
            <label class="label">Photo:</label>
            <div class="control">
                {{form.photo}}
            </div>
            <label class="label">Adresse:</label>
            <div class="control">
                {{form.adresse_postale}}
            </div>
            <label class="label">Code postal:</label>
            <div class="control">
                {{form.code_postal}}
            </div>
            <label class="label">Ville:</label>
            <div class="control">
                {{form.ville}}
            </div>
            <label class="label">Télephone fix:</label>
            <div class="control">
                {{form.tel_fix}}
            </div>
            <label class="label">Télephone mobile:</label>
            <div class="control">
                {{form.tel_mob}}
            </div>
            <label class="label">Télephone docteur:</label>
            <div class="control">
                {{form.tel_doc}}
            </div>
            <label class="label">Date d'anniversaire:</label>
            <div class="control">
                {{form.date_anniv}}
            </div>
            <label class="label">Numero Urssaf:</label>
            <div class="control">
                {{form.num_urssaf}}
            </div>
        </div>
    <input class="validation" type="submit" value="Validez votre employeur"> 
    <a class="" href="" >Retour page liste employeur</a>          
</form>
