{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">


<section class="section is-medium">
    <a class="button is-dark" href="{% url 'famille:liste_employeurs' %}" >Retour Liste employeur</a> 
    <a class="button is-dark" href="{% url 'famille:effacer_employeur' employeur.id %}" >Effacer employeur</a> 
    <a class="button is-dark" href="{% url 'famille:editter_employeur' employeur.id %}" >Modifier employeur</a> 
    <a class="button is-dark" href="{% url 'famille:creation_contact_urgence' %}" >Contacts d'urgence</a>
    <div class="field">
        <label class="label">Nom:</label>
        <div class="control">
            {{contacts_urgences.nom}}
        </div>
        <label class="label">Prénom:</label>
        <div class="control">
            {{contacts_urgences.prenom}}
        </div>
        <label class="label">Filiation:</label>
        <div class="control">
            {{contacts_urgences.filiation}}
        </div>
        <label class="label">Télephone fix:</label>
        <div class="control">
            {{contacts_urgences.tel_fix}}
        </div>
        <label class="label">Télephone mobile:</label>
        <div class="control">
            {{contacts_urgences.tel_mob}}
        </div>
        <label class="label">Employeur:</label>
        <div class="control">
            {{contacts_urgences.employeur}}
        </div>
    </div>
</section>