
{% load static %}



{% block content %}

  <h1 class="title">Recap Contact d'urgences</h1>
        
        
  <table class="table">
      
      <thead>
          <tr>
              <!-- <th>ID</th> -->
              <th>Contacts d'urgences</th>
              <th>Prénom</th>
              <th>Tel_fix</th>
              <th>Tel_mobile</th>
              <th>Filiation</th>
              <!-- <th>Employeur</th> -->
              <th>Modifier</th>
              <th>Supprimer</th>
          </tr>
      </thead>
      <tbody>
        {% for contact_urgence in contacts_urgences %}
        <tr>
          <!-- <th>{{ contact_urgence.id }}</th> -->
          <td>{{ contact_urgence.nom }}</td>
          <td>{{ contact_urgence.prenom }}</td>
          <td>{{ contact_urgence.tel_fix }}</td>
          <td>{{ contact_urgence.tel_mob }}</td>
          <td>{{ contact_urgence.filiation }}</td>
          <!-- <td>{{ contact_urgence.employeur.nom }}</td> -->
          <td><a class="button is-dark is-small" href="{% url 'famille:edit_urgence' contact_urgence.id %}" >Modifier contacts urgences</a> </td>
          <td><a class="button is-dark is-small" href="{% url 'famille:effacer_urgence' contact_urgence.id %}" >Supprimer contacts urgences</a> </td>
          
        </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}

<a class="button is-dark" href="" >Creation Contacts d'urgence</a>
<a class="button is-dark" href="{% url 'dashboard:dashboard' %}">Retour tableau de bord</a>
