
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">

<section class="section is-medium">
  <h1 class="title">Recap famille</h1>
        <h2 class="subtitle">
          recapitule toutes les <strong>familles</strong> dont tu garde les sales gosses.
        </h2>
        <h2> liste famille, utile a voir comment l'utiliser( penser a rapatrier enfant ici une fois crée avec le crontrat)</h2>
        <h2> sera afficher sur le dashboard</h2>
        <a class="button is-dark" href="{% url 'famille:liste_employeurs' %}" >Liste employeurs</a> 
        <a class="button is-dark" href="{% url 'famille:creation_employeur' %}">Creation d'une nouvelle Famille</a>
        <a class="button is-dark" href="{% url 'dashboard:dashboard' %}">Retour tableau de bord</a>
        <td><a class="button is-dark" href="{% url 'famille:creation_contact_urgence' employeur.id %}" >Creation Contacts d'urgence</a> </td>
  <table class="table">
      
      <thead>
          <tr>
              <th><abbr title="Position">ID</abbr></th>
              <th>Contacts d'urgences</th>
              <th><abbr title="prenom">prénom</abbr></th>
              <th><abbr title="tel_fix">tel_fix</abbr></th>
              <th><abbr title="tel_mobile">tel_mobile</abbr></th>
              <th><abbr title="filiation">Filiation</abbr></th>
              <th><abbr title="employeur">employeur</abbr></th>
              <th>Détails employeur</th>
          </tr>
      </thead>
      <tbody>
        {% for contact_urgence in contacts_urgences %}
        <tr>
          <th>{{ contact_urgence.id }}</th>
          <td><a href="" title="Leicester City F.C.">{{ contact_urgence.nom }}</a>
          </td>
          <td>{{ contact_urgence.prenom }}</td>
          <td>{{ contact_urgence.tel_fix }}</td>
          <td>{{ contact_urgence.tel_mob }}</td>
          <td>{{ contact_urgence.employeur }}</td>
          <td><a class="button is-dark" href="{% url 'famille:details_employeur' employeur.id %}" >Détails contacts urgences</a> </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</section>
